h3{
    text-align: right;
    fonts-family: verdana;
    font-size:12px;
    color: white;
    margin: 5px;
    padding:5px;
    text-transform: camelcase;

}


div.i{
 text-transform: lowercase;
}

body{
    background-color: white;
    margin: 5px;
    padding: 0px;
    font-family: Georgia;
    font-size:16px;
    color: #00008B;
}
.navbar ul{
    list-style: none;
    background: none;
    padding:0;
    margin:15px;
    text-align: center;

}
.navbar li{
    display: inline-block;
    margin: 12px;
}
.navbar a{
    text-decoration: none;
    width: 90px;
    display: block;
    padding: 10px 19px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.navbar a:hover{
    background: orange;
    border-radius: 10px;
}
header{
    background: #800080;
    height:40px;
    padding: 10px;
    font-size: 5px;
}

#left-nav{
    float:left;
     padding:0px;
}
ul li{
    margin: 0px;
}

#right-nav{
    float:center;
    padding: 10px;
}

#right-nav li{
    display: inline-block;
    margin: 10px;
}

footer{
    clear: both;
    text-align: right;
    fonts: verdana;
    color: white;
    padding: 10px;
    font-size: 15px;
}

footer{
    background: #800080;
    height: 20px;
}

h2{
    padding: 2px;
    margin:10px;
}
p{
    padding:0px;
    margin:15px;
}

.container{
    margin:60px auto;
    width: 50%
    padding: 10px;

}

img{
    float: left;
    width:350;
    height:510;
    padding: 0 15px 0 0;
    border-radius:  0px;

}
.text{
    text-align: left;

}
body{
    display: block;
}

}
form{
    background:blue;
    display: flex;
    flex-direct: column;
    padding: 1vw 4vw;
    width: 90%
    max-width; 600px;
    border-radius: 10px;
}

h4{
    margin:10px;
}
h5{
    margin:2px;
}

.section img{
    float: right;
    padding: 0 15px 0 0;
    radius: 10px
}
